<!DOCTYPE html>
<html lang="zh-CN" class="no-js">

<head>
  <meta charset="UTF-8" />
  <title>MyBricks-免费开放的无代码开发平台</title>
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="stylesheet" crossorigin="anonymous" href="//f2.eckwai.com/kos/nlav12333/mybricks/antd4.21.6.min.css" />
  <script src="//f2.eckwai.com/udata/pkg/eshop/fangzhou/pub/pkg/reat-18.0.0/react.production.min.js"></script>
  <script src="//f2.eckwai.com/udata/pkg/eshop/fangzhou/pub/pkg/react-dom-18.0.0/react-dom.production.min.js"></script>
  <script src="//f2.eckwai.com/kos/nlav12333/mybricks/axios0.18.1.min.js"></script>
  <script src="//f2.eckwai.com/kos/nlav12333/mybricks/moment2.29.4.min.js"></script>
  <script src="//f2.eckwai.com/kos/nlav12333/mybricks/antdicons4.7.0.umd.min.js"></script>
  <script src="//f2.eckwai.com/kos/nlav12333/mybricks/antd4.21.6.min.js"></script>
  <!-- rxui -->
  <script src="https://ali2.a.kwimgs.com/udata/pkg/eshop/chrome-plugin-upload/2023-03-16/1678937644329.6b97634ad57590e0.js"></script>
  <script src="https://f2.eckwai.com/udata/pkg/eshop/fangzhou/pub/pkg/ant-design/charts-1.2.14/charts.min.js"></script>
  <script src="https://f2.beckwai.com/kos/nlav12333/mybricks/designer-spa/1.2.92/index.min.js"></script>
</head>

<body>
  <div id="root"></div>
</body>
<script>
  var _hmt = _hmt || [];
  (function () {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?d2ecca39b1c8b9e556bc0051744065bf";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>

</html>
